<h4 class="m-0 p-0 title-resume">Features <span class="text-gradient">Projects</span></h4>

<div class="mt-5 d-flex flex-column gap-5">
  <div class="project-item" data-aos="fade-up"
data-aos-anchor-placement="top-center">
    <figure class="project-card d-flex flex-column gap-4">
      <img class="card-img-top d-none d-md-block" src="assets/images/projects/project-1.webp" alt="Rolls Roys Project Design">
      <img class="card-img-top d-block d-md-none" src="assets/images/projects/project-1_1.webp" alt="Rolls Roys Project Design">
      <figcaption class="project-title">Rolls Royce - Landing Page Redesign</figcaption>
    </figure>
  </div>
  <div class="col-12 d-flex flex-column flex-md-row align-items-start justify-content-between">
    <div class="project-item col-12 col-md-5" data-aos="fade-up" data-aos-anchor-placement="top-center">
      <figure class="project-card d-flex flex-column gap-4">
        <img class="card-img-top img-minor" src="assets/images/projects/project-2.webp" alt="Rolls Roys Project Design">
        <figcaption class="project-title">University WordPress Theme</figcaption>
      </figure>
    </div>
    <div class="project-item col-12 col-md-5" data-aos="fade-up" data-aos-anchor-placement="top-center">
      <figure class="project-card d-flex flex-column gap-4">
        <img class="card-img-top img-minor" src="assets/images/projects/project-3.webp" alt="Rolls Roys Project Design">
        <figcaption class="project-title">Weather Web - App</figcaption>
      </figure>
    </div>
  </div>
  <div class="project-item" data-aos="fade-up"
data-aos-anchor-placement="top-center">
    <figure class="project-card d-flex flex-column gap-4">
      <img class="card-img-top d-none d-md-block" src="assets/images/projects/project-4.webp" alt="Rolls Roys Project Design">
      <img class="card-img-top d-block d-md-none" src="assets/images/projects/project-4_4.webp" alt="Rolls Roys Project Design">
      <figcaption class="project-title">Veggieden - Restaurant Development</figcaption>
    </figure>
  </div>
  <div class="project-item" data-aos="fade-up"
data-aos-anchor-placement="top-center">
    <figure class="project-card d-flex flex-column gap-4">
      <img class="card-img-top d-none d-md-block" src="assets/images/projects/project-5.webp" alt="Rolls Roys Project Design">
      <img class="card-img-top d-block d-md-none" src="assets/images/projects/project-5_5.webp" alt="Rolls Roys Project Design">
      <figcaption class="project-title">Marshall Figma Template</figcaption>
    </figure>
  </div>
</div>
