<div class="d-flex flex-column gap-4 col-12">
  <h3 class="m-0 p-0 about-title">
    Let my code tell the visual story of<span class="text-gradient"> your project</span>
  </h3>
  <p class="m-0 p-0 about-content">{{ _infoAbout.dataAbout.description }}</p>
  <div class="d-flex flex-column gap-4 my-5">
  <div class="d-flex flex-column align-items-center justify-content-center my-5">
    <div class="my-5 resume-container">
      <button class="btn-resume">
        <a class="text-decoration-none" href="assets/pdf/CURRICULUM_NAHUM 2024-USA.pdf" download="NERM Resume">Download my resume (PDF)</a>
      </button>
    </div>
  </div>
</div>
