<div class="d-flex flex-column gap-4">
  <h3 class="m-0 p-0 about-title">
    Let my code tell the visual story of<span class="text-gradient"> your project</span>
  </h3>
  <p class="m-0 p-0 about-content">With almost 4 years of experience as a front-end developer, I have navigated challenges
    while working remotely for agencies, consulting to startups, and collaborating with
    talented individuals to bring both enterprise and consumer digital products to life.
    My quiet confidence, innate curiosity, and constant dedication drive me to improve,
    tackling one web development problem at a time. I am committed to excellence
    and continuous evolution in the world of front-end development.</p>
</div>
