<!-- Menu Navigation -->
<nav class="floating-menu">
  <div class="menu-navbar d-none d-lg-flex align-items-center justify-content-center">
    <div class="menu-container d-flex align-items-center justify-content-center p-4 rounded-pill">
      <div class="menu-items">
        <ul class="d-flex flex-column align-items-center justify-content-center gap-4 list-unstyled fw-normal">
          <li *ngFor="let item of menuItems" class="list-item">
            <a
              [attr.href]="'#' + item.route"
              [class.active]="activeSection === item.route"
              [ngClass]="'item-link text-decoration-none p-0 route-' + item.route">
              <i class="bi" [ngClass]="item.icon"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>



<div class="menu-icon d-block d-lg-none">
  <a data-bs-toggle="offcanvas" href="#offcanvasNerm" role="button" aria-controls="offcanvasNerm">
    <img src="/assets/images/menu-icon.svg" alt="Icon Menu">
  </a>
</div>

<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNerm" aria-labelledby="offcanvasNermLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasNermLabel"></h5>
    <button type="button" class="btn-close-canvas" data-bs-dismiss="offcanvas" aria-label="Close">
      <i class="fa-solid fa-xmark m-4"></i>
    </button>
  </div>
  <div class="offcanvas-body d-flex flex-column align-items-center justify-content-start gap-5 mt-5">
    <nav class="navbar mx-5 d-grid">
      <div>
        <h3>
          Menu
        </h3>
      </div>
      <ul class="navbar-list list-unstyled fw-normal pb-2 small">
        <li *ngFor="let item of menuItems" class="list-item" data-bs-dismiss="offcanvas">
          <a [attr.href]="'#' + item.route" [class.active]="activeSection === item.route" class="item-link text-decoration-none p-0">
            <i class="bi" [ngClass]="item.icon"></i>
            <span class="ms-3 p-0 link-menu">{{ item.route }}</span>
          </a>
        </li>
      </ul>
    </nav>


    <div class="contact-links mx-5">
      <div class="mx-5">
        <h3 class="mb-4">Contact</h3>
      </div>
      <div class="profile-socials d-flex flex-row align-items-center justify-content-center my-2 gap-4">
        <div class="social-icon">
          <a href="">
            <i class="fa-brands fa-twitter fa-xl"></i>
          </a>
        </div>
        <div class="social-icon">
          <a href="">
            <i class="fa-brands fa-instagram fa-xl"></i>
          </a>
        </div>
        <div class="social-icon">
          <a href="">
            <i class="fa-brands fa-linkedin-in fa-xl"></i>
          </a>
        </div>
        <div class="social-icon">
          <a href="">
            <i class="fa-brands fa-github fa-xl"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
