<!-- Menu Navigation -->
<nav class="floating-menu">
  <div class="menu-navbar d-none d-lg-flex align-items-center justify-content-center">
    <div class="menu-container d-flex align-items-center justify-content-center p-4 rounded-pill">
      <div class="menu-items">
        <ul class="d-flex flex-column align-items-center justify-content-center gap-4 list-unstyled fw-normal">
          <li class="list-item">
            <a href="" class="item-link text-decoration-none p-0">
              <i class="bi bi-house"></i>
            </a>
          </li>
          <li class="list-item">
            <a href="" class="item-link text-decoration-none p-0">
              <i class="bi bi-person"></i>
            </a>
          </li>
          <li class="list-item">
            <a href="" class="item-link text-decoration-none p-0">
              <i class="bi bi-journal-code"></i>
            </a>
          </li>
          <li class="list-item">
            <a href="" class="item-link text-decoration-none p-0">
              <i class="bi bi-box"></i>
            </a>
          </li>
          <li class="list-item">
            <a href="" class="item-link text-decoration-none p-0">
              <i class="bi bi-gem"></i>
            </a>
          </li>
          <li class="list-item">
            <a href="" class="item-link text-decoration-none p-0">
              <i class="bi bi-briefcase"></i>
            </a>
          </li>
          <li class="list-item">
            <a href="" class="item-link text-decoration-none p-0">
              <i class="bi bi-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>



<div class="menu-icon d-block d-lg-none">
  <a data-bs-toggle="offcanvas" href="#offcanvasNerm" role="button" aria-controls="offcanvasNerm">
    <img src="/assets/images/menu-icon.svg" alt="Icon Menu">
  </a>
</div>

<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNerm" aria-labelledby="offcanvasNermLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasNermLabel"></h5>
    <button type="button" class="btn-close-canvas" data-bs-dismiss="offcanvas" aria-label="Close">
      <i class="fa-solid fa-xmark me-4 mt-4"></i>
    </button>
  </div>
  <div class="offcanvas-body d-flex flex-column align-items-center justify-content-start gap-5 mt-5">
    <nav class="navbar mx-5 d-grid">
      <div>
        <h3>
          Menu
        </h3>
      </div>
      <ul class="navbar-list list-unstyled fw-normal pb-2 small">
        <li>
          <a href="" class="text-decoration-none p-0">
            <img class="icon-list" src="assets/images/icons/icon_home.svg" alt="Home icon">
            <span class="ms-3 p-0 link-menu">Home</span>
          </a>
        </li>
        <li>
          <a href="" class="text-decoration-none p-0">
            <img class="icon-list" src="assets/images/icons/icon_user.svg" alt="User icon">
            <span class="ms-3 p-0">About</span>
          </a>
        </li>
        <li>
          <a href="" class="text-decoration-none p-0">
            <img class="icon-list" src="assets/images/icons/icon_resume.svg" alt="Resume icon">
            <span class="ms-3 p-0">Resume</span>
          </a>
        </li>
        <li>
          <a href="" class="text-decoration-none p-0">
            <img class="icon-list" src="assets/images/icons/icon_services.svg" alt="Services icon">
            <span class="ms-3 p-0">Services</span>
          </a>
        </li>
        <li>
          <a href="" class="text-decoration-none p-0">
            <img class="icon-list" src="assets/images/icons/icon_skills.svg" alt="Skills icon">
            <span class="ms-3 p-0">Skills</span>
          </a>
        </li>
        <li>
          <a href="" class="text-decoration-none p-0">
            <img class="icon-list" src="assets/images/icons/icon_portfolio.svg" alt="Portfolio icon">
            <span class="ms-3 p-0">Portfolio</span>
          </a>
        </li>
        <li>
          <a href="" class="text-decoration-none p-0">
            <img class="icon-list" src="assets/images/icons/icon_contact.svg" alt="Contact icon">
            <span class="ms-3 p-0">Contact</span>
          </a>
        </li>
      </ul>
    </nav>


    <div class="contact-links mx-5">
      <div class="mx-5">
        <h3 class="mb-4">Contact</h3>
      </div>
      <div class="profile-socials d-flex flex-row align-items-center justify-content-center my-2 gap-4">
        <div class="social-icon">
          <a href="">
            <i class="fa-brands fa-twitter fa-xl"></i>
          </a>
        </div>
        <div class="social-icon">
          <a href="">
            <i class="fa-brands fa-instagram fa-xl"></i>
          </a>
        </div>
        <div class="social-icon">
          <a href="">
            <i class="fa-brands fa-linkedin-in fa-xl"></i>
          </a>
        </div>
        <div class="social-icon">
          <a href="">
            <i class="fa-brands fa-github fa-xl"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
