@import url(./../../../styles.scss);
/* ========================== MOBILE STYLES START HERE ========================== */
.menu-icon a {
  position: fixed;
  z-index: 199;
  top: 30px;
  right: 30px;
  img {
    width: 50px;
    max-width: 100%;
  }
}
button.btn-close-canvas {
  background: transparent;
  border: none;
  i {
    color: white;
    font-size: 1.5rem;
  }
}

.navbar-list {
  transition: all .3s ease-in-out;
  li {
    margin: 1.5em 0;
    transition: all .3s ease-in-out;
    a {
      color: var(--nerm-text-gray);
      margin: 1em 0;
      font-size: 1.3rem;
      transform: translateX(0);
    }
    a:hover {
      color: var(--nerm-fuscia);
      transform: translateX(50);
    }
    .icon-list {
      width: 20px;
      max-width: 100%;
    }
  }
  li:hover {
    transform: translateX(10px);
  }
}

a.icon-list {
  fill: blueviolet;
}

.social-icon i {
  color: var(--nerm-text-gray);
}
.social-icon i:hover {
  color: white;
}

.active.item-link {
  color: var(--nerm-fuscia) !important;
}

.offcanvas.offcanvas-end {
  width: 300px !important;
}

/* ========================== MOBILE STYLES END HERE ========================== */


/* ========================== IPAD STYLES START HERE ========================== */
@media (min-width: 768px) and (max-width: 991.98px) {
  .home-content p {
    font-size: 1.15rem;
    max-width: 70%;
  }
  .offcanvas.offcanvas-end {
    width: 400px !important;
  }
}
/* ========================== IPAD STYLES END HERE ========================== */


/* ========================== DESKTOP STYLES START HERE ========================== */
@media (min-width: 992px) {

  .floating-menu {
    top: 150px;
    right: 45px;
    position: fixed;
    z-index: 9999;
  }

  .menu-container {
    background-color: rgba(255,255,255, 0.30);
    width: 70px;
    border: 2px solid white;
    backdrop-filter: blur(50px);
  }

  .menu-icon a {
    position: fixed;
    z-index: 199;
    top: 70px;
    right: 50px;
    img {
      width: 50px;
      max-width: 100%;
    }
  }

  .list-item {
    a {
      color: var(--nerm-color-white);
      .icon-list svg {
        width: 25px;
        max-width: 100%;
        filter: brightness(1.5);
      }
      transition: .25s all ease;
    }
    a:hover {
      color: var(--nerm-fuscia);
    }
    .item-link {
      i {
        font-size: 1.5rem;
      }
    }
    .item-link::after {
      content: attr(data-text);
      color: var(--nerm-color-white);
      position: absolute;
      align-content: center;
      align-self: center;
      justify-items: center;
      padding-left: 1.25rem;
      margin-top: -10px;
      left: -90px;
      border-radius: 50px;
      width: 110px;
      height: 55px;
      clip-path: polygon(0 15%, 75% 15%, 90% 50%, 75% 85%, 0 85%);
      background: linear-gradient(145deg, rgba(92,68,228,1) 0%, rgba(247,54,227,1) 100%);
      z-index: -1;
      opacity: 0;
      transition: all 0.3s ease;
    }
    .item-link.route-home::after {
      content: "Home";
    }

    .item-link.route-about::after {
      content: "About";
    }

    .item-link.route-resume::after {
      content: "Resume";
    }

    .item-link.route-services::after {
      content: "Services";
    }

    .item-link.route-skills::after {
      content: "Skills";
    }

    .item-link.route-portfolio::after {
      content: "Portfolio";
    }

    .item-link.route-contact::after {
      content: "Contact";
    }

    .item-link:hover::after {
      opacity: 1;
      color: var(--nerm-color-white);
    }
  }

  .active.item-link {
    color: var(--nerm-fuscia) !important;
  }
}
/* ========================== DESKTOP STYLES END HERE ========================== */
