<h4 class="m-0 p-0 title-resume">My <span class="text-gradient">Specializations</span></h4>

<div class="col-12 d-flex flex-column flex-md-row flex-lg-column gap-4 gap-md-4 gap-lg-3 mt-5">
  <div class="spec-container d-flex flex-row align-items-start justify-content-between">
    <div class="spec-info d-flex flex-column gap-2 align-items-start">
      <h4 class="m-0 spec-title">Website Design Collaboration</h4>
      <p class="m-0 p-0 spec-description">I created digital products with unique ideas use Figma, Adobe Xd & Sketch</p>
      <p class="m-0 p-0 mt-3 spec-link">24 Projects</p>
    </div>
    <div class="spec-icon">
      <img src="assets/images/specializations/la_bezier-curve.svg" alt="Icon Specializations">
    </div>
  </div>

  <div class="spec-container d-flex flex-row align-items-start justify-content-between">
    <div class="spec-info d-flex flex-column gap-2 align-items-start">
      <h4 class="m-0 spec-title">Development</h4>
      <p class="m-0 p-0 spec-description">I build website go live with Angular, Webflow or WordPress</p>
      <p class="m-0 p-0 mt-3 spec-link">26 Projects</p>
    </div>
    <div class="spec-icon">
      <img src="assets/images/specializations/code_bezier-curve.svg" alt="Icon Specializations">
    </div>
  </div>

  <div class="spec-container d-flex flex-row align-items-start justify-content-between">
    <div class="spec-info d-flex flex-column gap-2 align-items-start">
      <h4 class="m-0 spec-title">SEO/Marketing</h4>
      <p class="m-0 p-0 spec-description">Increase your website traffic with optimized SEO tuning</p>
      <p class="m-0 p-0 mt-3 spec-link">8 Projects</p>
    </div>
    <div class="spec-icon">
      <img src="assets/images/specializations/seo_web.svg" alt="Icon Specializations">
    </div>
  </div>
</div>
