<app-menu></app-menu>

<app-profile data-aos="fade-up" class="p-0 m-0"></app-profile>

<app-page-components class="d-flex flex-column align-items-baseline justify-content-center col-12 px-4 px-lg-0 col-lg-6 gap-5 mt-5"></app-page-components>

<!-- <div class="circle-gradient_1">
  <div></div>
</div> -->

<div class="bg-gradient1">
  <img src="assets/images/elipses-bg/ellipse-1.svg" alt="elipse 1 background">
</div>

<div class="bg-gradient2">
  <img src="assets/images/elipses-bg/ellipse-2.svg" alt="elipse 2 background">
</div>

<div class="bg-gradient3">
  <img src="assets/images/elipses-bg/ellipse-3.svg" alt="elipse 3 background">
</div>

<div class="bg-gradient4">
  <img src="assets/images/elipses-bg/ellipse-4.svg" alt="elipse 4 background">
</div>

<div class="bg-gradient5">
  <img src="assets/images/elipses-bg/ellipse-5.svg" alt="elipse 5 background">
</div>
