<div class="number-container d-flex flex-row gap-5 mt-0 mt-lg-5 align-items-center justify-content-center justify-content-lg-start">
  <div class="number-content d-flex flex-column align-items-start justify-content-center gap-4">
    <h3 class="m-0 p-0 years-text">{{ yearsOfExp }}</h3>
    <p class="m-0 p-0">Years Of<br> Experience</p>
  </div>
  <div class="number-content d-flex flex-column align-items-start justify-content-center gap-4">
    <h3 class="m-0 p-0 projects-text">{{ projCompleted }}</h3>
    <p class="m-0 p-0">Front-end Projects <br>Completed</p>
  </div>
</div>
