<!-- Identifier Start -->
<div class="section-identifier d-flex align-items-center justify-content-center justify-content-md-center justify-content-lg-start col-12" id="home" appIntersectionObserver (visible)="onSectionVisible('home', $event)">
  <a class="section-link">
    <div class="section-border">
      <div class="section-content d-flex flex-row align-items-center justify-content-center gap-2">
        <i class="bi bi-house"></i>
        <p class="m-0 p-0">{{ names.sectionHome }}</p>
      </div>
    </div>
  </a>
</div>
<!-- Identifier End -->

<!-- Home Section Start -->
<app-home
  data-aos="fade-left"
  data-aos-delay="300">
</app-home>
<!-- Home Section End -->

<!-- Number Section Start -->
<app-numbers
  class="mb-5 col-12"
  data-aos="fade-up"
  data-aos-delay="300"></app-numbers>
<!-- Number Section End -->

<!-- Identifier Start -->
<div class="section-identifier mt-lg-5" id="about" appIntersectionObserver (visible)="onSectionVisible('about', $event)">
  <a class="section-link">
    <div class="section-border">
      <div class="section-content d-flex flex-row align-items-center justify-content-center gap-2">
        <i class="bi bi-person"></i>
        <p class="m-0 p-0">{{ names.sectionAbout }}</p>
      </div>
    </div>
  </a>
</div>
<!-- Identifier End -->

<!-- About Section Start -->
<app-about class="mb-5" data-aos="fade-left"
data-aos-anchor-placement="top-center"></app-about>
<!-- About Section End -->

<!-- Identifier Start -->
<div class="section-identifier mt-lg-5" id="resume" appIntersectionObserver (visible)="onSectionVisible('resume', $event)">
  <a class="section-link">
    <div class="section-border">
      <div class="section-content d-flex flex-row align-items-center justify-content-center gap-2">
        <i class="bi bi-journal-code"></i>
        <p class="m-0 p-0">{{ names.sectionResume }}</p>
      </div>
    </div>
  </a>
</div>
<!-- Identifier End -->

<!-- Resume Section Start -->
<app-education class="mb-5"></app-education>
<!-- Resume Section End -->

<!-- Identifier Start -->
<div class="section-identifier mt-lg-5" id="services" appIntersectionObserver (visible)="onSectionVisible('services', $event)">
  <a class="section-link">
    <div class="section-border">
      <div class="section-content d-flex flex-row align-items-center justify-content-center gap-2">
        <i class="bi bi-box"></i>
        <p class="m-0 p-0">{{ names.sectionServices }}</p>
      </div>
    </div>
  </a>
</div>
<!-- Identifier End -->

<!-- Resume Section Start -->
<app-specializations class="col-12 mb-5"></app-specializations>
<!-- Resume Section End -->

<!-- Identifier Start -->
<div class="section-identifier mt-lg-5" id="skills" appIntersectionObserver (visible)="onSectionVisible('skills', $event)">
  <a class="section-link">
    <div class="section-border">
      <div class="section-content d-flex flex-row align-items-center justify-content-center gap-2">
        <i class="bi bi-gem"></i>
        <p class="m-0 p-0">{{ names.sectionSkills }}</p>
      </div>
    </div>
  </a>
</div>
<!-- Identifier End -->

<!-- Advantage Section Start -->
<app-advantages class="col-12 my-5"></app-advantages>
<!-- Advantage Section End -->

<!-- Identifier Start -->
<div class="section-identifier mt-lg-5" id="portfolio" appIntersectionObserver (visible)="onSectionVisible('portfolio', $event)">
  <a class="section-link">
    <div class="section-border">
      <div class="section-content d-flex flex-row align-items-center justify-content-center gap-2">
        <i class="bi bi-briefcase"></i>
        <p class="m-0 p-0">{{ names.sectionPortfolio }}</p>
      </div>
    </div>
  </a>
</div>
<!-- Identifier End -->

<!-- Portfolio Section Start -->
<app-portfolio class="col-12 mb-5"></app-portfolio>
<!-- Portfolio Section End -->

<!-- Identifier Start -->
<div class="section-identifier mt-lg-5">
  <a class="section-link">
    <div class="section-border">
      <div class="section-content d-flex flex-row align-items-center justify-content-center gap-2">
        <i class="bi bi-chat-left-text"></i>
        <p class="m-0 p-0">{{ names.sectionTestimonial }}</p>
      </div>
    </div>
  </a>
</div>
<!-- Identifier End -->

<!-- Testimonial Section Start -->
<app-testimonials class="col-12 mb-5" data-aos="fade-left"
data-aos-anchor-placement="top-center"></app-testimonials>
<!-- Testimonial Section End -->

<!-- Identifier Start -->
<div class="section-identifier mt-lg-5" id="contact" appIntersectionObserver (visible)="onSectionVisible('contact', $event)">
  <a class="section-link">
    <div class="section-border">
      <div class="section-content d-flex flex-row align-items-center justify-content-center gap-2">
        <i class="bi bi-envelope"></i>
        <p class="m-0 p-0">{{ names.sectionContact }}</p>
      </div>
    </div>
  </a>
</div>
<!-- Identifier End -->

<!-- Contact Section Start -->
<app-contact class="col-12" data-aos="fade-up"
data-aos-anchor-placement="top-center"></app-contact>
<!-- Contact Section End -->
