@import url(../../../styles.scss);

.section-link {
  text-decoration: none !important;
}

.section-border {
  border: 1.8px solid var(--nerm-text-gray);
  border-radius: 150px;
  padding: 0.3em 2em;
}
.section-content {
  i {
    font-size: .85rem;
    color: var(--nerm-color-white);
  }
  p {
    font-size: .75rem;
    text-transform: uppercase;
    margin: 0; padding: 0;
    text-decoration: none;
    color: var(--nerm-color-white);
  }
}

app-testimonials {
  overflow-x: hidden !important;
}
