@import url(/src/styles.scss);

/* ========================== MOBILE STYLES START HERE ========================== */
.card-profile {
  background: rgb(255, 255, 255, 20%);
  backdrop-filter: blur(150px);
  border: 2px solid white;
  border-radius: 28px;
  h2 {
    font-size: 22px;
  }
}

.card-profile__logo {
  img {
    width: 130px;
    max-width: 100%;
  }
}

.card-profile__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  text-align: center;
  img {
    margin: 1em 0;
    width: 290px;
    max-width: 100%;
  }
}

.profile-titles  {
  h1 {
    font-size: 1.5em;
  }
  .email-text {
    font-size: 1.35rem;
  }
  .copyright-text {
    font-size: .9rem;
  }
}

span.location-text {
  font-size: 1.2rem;
}

.btn-hire {
  border: none;
  background: var(--nerm-background-one);
  border-radius: 50px;
  padding: .75em 0;
  width: 280px;
  transition: all .2s ease-in-out;
  button {
    border: none;
    text-decoration: none;
    background: transparent;
    color: var(--nerm-color-white);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5px;
  }
}

.profile-socials {
  transition: .3s all ease;
  .social-icon {
    width: 50px; height: 50px;
    border: 1.5px solid var(--nerm-gray-light);
    border-radius: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s all ease;
    a {
      font-size: 1rem;
      color: var(--nerm-gray-light);
      transition: .3s all ease;
    }
  }
  .social-icon:hover {
    background: rgb(222,82,215);
    background: var(--nerm-background-one) !important;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text !important;
    border: 1.5px #A259FF solid;
    a:hover {
      background: rgb(222,82,215);
      background: var(--nerm-background-one) !important;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text !important;
    }
  }
}


/* ========================== MOBILE STYLES END HERE ========================== */


/* ========================== DESKTOP STYLES START HERE ========================== */
@media (min-width: 992px) {

  .card-profile__logo {
    img {
      width: 160px;
      max-width: 100%;
    }
    h2 {
      font-size: 1.2rem;
    }
  }

  .profile-picture {
    img {
      margin: 1em 0;
      width: 300px;
    }
  }

  .location-text {
    font-size: 1.3rem;
  }


}

/* ========================== DESKTOP STYLES END HERE ========================== */
