<div class="card-profile p-0 m-0">
  <div class="px-4 py-5 card-profile--large">
    <div class="card-profile__logo d-flex flex-row align-items-center justify-content-between mx-md-3">
      <a href="">
        <img src="/assets/images/logo-picture.png" alt="Icon Portfolio">
      </a>
      <h2 class="d-none d-md-block m-0 p-0 pt-2">Front-End &<br>UI Developer</h2>
    </div>
    <div class="card-profile__content mx-2 mx-md-3">
      <div class="profile-picture my-3 mb-md-1">
        <img class="rounded" src="/assets/images/profile-picture.webp" alt="Profile picture">
      </div>
      <div class="profile-titles d-flex flex-column text-center">
        <h1 class="d-block d-md-none">Front-End & UI Developer</h1>
        <span class="mt-2 email-text">nerm.animator@gmail.com</span>
        <span class="location-text">Sonora, México</span>
        <span class="my-3 copyright-text">© {{ year }} Nerm. All Rights Reserved</span>
      </div>
      <div class="profile-socials d-flex flex-row align-items-center justify-content-center my-2 gap-3">
        <div class="social-icon">
          <a href="">
            <i class="fa-brands fa-twitter fa-xl"></i>
          </a>
        </div>
        <div class="social-icon">
          <a href="">
            <i class="fa-brands fa-instagram fa-xl"></i>
          </a>
        </div>
        <div class="social-icon">
          <a href="">
            <i class="fa-brands fa-linkedin-in fa-xl"></i>
          </a>
        </div>
        <div class="social-icon">
          <a href="">
            <i class="fa-brands fa-github fa-xl"></i>
          </a>
        </div>
      </div>
      <a href="" class="btn-hire text-decoration-none text-center d-flex align-items-center text-decoration-none mt-3 justify-content-center">
        <button class="btn-hire_text">
          <i class="fa-regular fa-envelope fa-xl"></i>
          Hire Me!
        </button>
      </a>
    </div>
  </div>
</div>
