<h4 class="m-0 p-0 title-resume">Education & <span class="text-gradient">Experience</span></h4>
<div class="d-flex flex-row align-items-start justify-content-start mt-4 gap-5">
  <div class="line-divisor">
  </div>

  <div class="d-flex flex-column align-items-start gap-5">
    <div *ngFor="let itemEducation of _educationService.dataEducation" class="job d-flex flex-column gap-2 gap-lg-3">
      <div class="year-title" data-aos="fade-in" data-aos-anchor-placement="top-center">
        <h5 class="m-0 p-0 active">{{ itemEducation.yearTitle }}</h5>
      </div>
      <div *ngFor="let jobItem of itemEducation.jobItems | keyvalue" class="job-item" data-aos="fade-left" data-aos-anchor-placement="top-center">
        <div class="job-title">
          <h6 class="m-0 p-0">{{ jobItem.value.title }}</h6>
        </div>
        <div class="job-description">
          <p class="m-0 p-0">{{ jobItem.value.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
