@import url(../../../styles.scss);

.title-resume {
  font-size: 40px;
  font-weight: 400;
}
span.text-gradient {
  background: rgb(222,82,215);
  background: var(--nerm-background-two) !important;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important;
}

.experience-container {
  border-left: 2px solid var(--nerm-color-gray-dark);
  padding-left: 1.5rem;
}

/* iPad Media Queries Start */
@media (min-width: 768px) and (max-width: 991.98px) {
  .experience-container {
    border-left: 2px solid var(--nerm-color-gray-dark);
    padding-left: 3rem;
  }
}
/* iPad Media Queries End */

.job {
  .year-title h5 {
    color: var(--nerm-color-gray-dark);
    font-size: 18px;
  }
  .year-title h6 {
    font-size: 18px;
    color: var(--nerm-color-white);
    font-weight: 500;
  }
  .active {
    font-size: 18px;
    background: rgb(222,82,215);
    background: var(--nerm-background-one) !important;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text !important;
  }

  .year-title h5::before {
    content: "";
    width: 15px; height: 15px;
    border-radius: 200px;
    background: var(--nerm-color-gray-dark);
    position: absolute;
    left: 17px;
  }
  .year-title .active::before {
    content: "";
    width: 15px; height: 15px;
    border-radius: 200px;
    background: var(--nerm-background-one);
    position: absolute;
    left: 17px;
  }

  .job-item {
    .job-role p {
      font-size: 16.5px;
      color: var(--nerm-text-gray);
      font-weight: 500;
    }
    .job-description p {
      font-size: 16.5px;
      color: var(--nerm-color-gray-dark);
      font-weight: 500;
    }
  }
}


/* Desktop Media Queries Start */
@media (min-width: 991.98px) {
  .title-resume {
    font-size: 50px;
  }

  .experience-container {
    border-left: 2px solid var(--nerm-color-gray-dark);
    padding-left: 3rem;
  }

  .line-divisor {
    width: 2px;
    height: 560px;
    background-color: var(--nerm-color-gray-dark);
  }

  .job {
    .year-title h5 {
      color: var(--nerm-color-gray-dark);
      font-size: 22px;
    }
    .year-title h6 {
      font-size: 22px;
      color: var(--nerm-color-white);
      font-weight: 500;
    }
    .active {
      font-size: 18px;
      background: rgb(222,82,215);
      background: var(--nerm-background-one) !important;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text !important;
    }
    .year-title h5::before {
      content: "";
      width: 15px; height: 15px;
      border-radius: 200px;
      background: var(--nerm-color-gray-dark);
      position: absolute;
      left: -6px;
    }
    .year-title .active::before {
      content: "";
      width: 15px; height: 15px;
      border-radius: 200px;
      background: var(--nerm-background-one);
      position: absolute;
      left: -6px;
    }
    .job-item {
      .job-role p {
        font-size: 18px;
        color: var(--nerm-text-gray);
        font-weight: 500;
      }
      .job-description p {
        font-size: 16px;
        color: var(--nerm-gray-light);
        font-weight: 500;
      }
    }
  }
}
/* Desktop Media Queries End */
