@import url(../../../styles.scss);

.title-resume {
  font-size: 40px;
  font-weight: 400;
}
span.text-gradient {
  background: rgb(222,82,215);
  background: var(--nerm-background-two) !important;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important;
}

.carousel-item {
  border-radius: 24px;
  border: 2px solid var(--nerm-color-white);
  background: #ffffff33;
  backdrop-filter: blur(5px);
  transition: all .5s ease;
}

.testimonial-container {
  height: 450px;
}

.testimonial-info {
  h6 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.2rem;
  }
  .text-gradient-info {
    color: var(--nerm-fuscia);
    filter: brightness(0.9);
    font-weight: 600;
  }
}

.testimonial-quote p {
  font-size: 1.2rem;
}

.testimonial-img img {
  width: 50px;
  border-radius: 150px;
}

.btn-prev,
.btn-next {
  background: none;
  border: 1.8px solid var(--nerm-color-white);
  padding: 2px;
  border-radius: 150px;
  width: 40px; height: 40px;
}


/* Desktop Media Queries Start */
@media (min-width: 991.98px) {
  .title-resume {
    font-size: 50px;
  }

  .carousel-item {
    border-radius: 24px;
    border: 2px solid var(--nerm-color-white);
    background: #ffffff33;
    backdrop-filter: blur(5px);
    transition: all .5s ease;
  }

  .testimonial-container {
    height: 350px;
  }

  .testimonial-info {
    h6 {
      font-size: 1.4rem;
    }
    p {
      font-size: 1.2rem;
    }
    .text-gradient-info {
      color: var(--nerm-fuscia);
      filter: brightness(0.9);
      font-weight: 600;
    }
  }

  .testimonial-quote p {
    font-size: 1.2rem;
  }

  .testimonial-img img {
    width: 50px;
    border-radius: 150px;
  }

  .btn-prev,
  .btn-next {
    background: none;
    border: 1.8px solid var(--nerm-color-white);
    padding: 2px;
    border-radius: 150px;
    width: 40px; height: 40px;
  }


}

@media (min-width: 1920px) {
  .testimonial-container {
    height: 450px;
  }
}
